@model WebApplication5.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center text-info">Details of XSS Comments</h2>
@* Showing the details of Comments *@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
<div class="btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</div>
