<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Navbar common to all pages*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav text-success">
                        @*Navigation URL'S*@
                        <li>@Html.ActionLink("Assignment 1", "Index", "Home")</li>
                        <li>@Html.ActionLink("Assignment 2", "Index", "Assignment2")</li>
                        <li>@Html.ActionLink("Assignment 3", "Index", "Assignment3")</li>
                        <li>@Html.ActionLink("Assignment 4", "Index", "Assignment4")</li>
                        <li>@Html.ActionLink("Assignment 5", "Index", "Assignment5")</li>
                        <li>@Html.ActionLink("Assignment 6", "Index", "Assignment6")</li>
                        <li>@Html.ActionLink("Assignment 7", "Index", "Assignment7")</li>
                        <li>@Html.ActionLink("Assignment 8", "Index", "Assignment8")</li>
                        <li>@Html.ActionLink("Assignment 9", "Index", "Assignment9")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*Main Footer*@
    <div class="mainfooter">
            <p class="text-center">&copy; @DateTime.Now.Year - ASP.NET MVC Aress Training June 2019</p>   
    </div>
</body>
</html>